# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Output
output/
temp/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# Reference files
reference.pkf
models/reference.wav
structure.txt
